body {
	margin: 0;
	font-family: 'PT Sans', sans-serif;
}

header {
	position: fixed;
	width: 100%;
}

.banner {
	display: block;
	background-color: black;
	min-height: 4vh;
}

.fa-facebook:hover, .fa-twitter:hover {
    opacity: 0.7;
}

.banner .fa-twitter, .banner .fa-facebook {
	margin-left: 1.7em;
	padding-left: 20px;
    font-size: 15px;
    text-align: center;
	text-decoration: none;
	
	margin-top: 20px;
    background: black;
    color: white;
}


.menu {
	min-height: 5vh;
	position: relative;
	background-color: #841F25;
	display: flex;
	flex-flow: row wrap;
	list-style-type: none;
	justify-content: space-around;
}

.menu a {
	text-align: center;
	padding-top: 10px;
	margin-top: auto;
	margin-bottom: auto;
	height: 30px;
	width: 8vh;
	color: white;
	text-decoration: none;
	border-radius: 20px;
}

.menu-item:hover {
	color: black;
	background-color: rgba(175,41,49,.4);
	transition: all 0.3s;
}

section {
	padding-top: 11vh;
	padding-bottom: 3vh;
	width: 80%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}


.menu img {
	height: 7.75em;
	width: 7.75em;
	position: absolute;
	display: flex;
	margin-top: -30px;
	margin-left: auto;
	margin-right: auto;

	image-rendering: transparent;
}

footer {
	background: rgba(0,0,0,.8);
	color: white;
}

/* 
footer .fa-twitter{
	background: black;
    color: white;
}

footer .fa-facebook {
	background: white;
	color: black
}
*/


